<!DOCTYPE html>

<!--
	
-->

<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="#" crossorigin="anonymous">
    
	<title>Home</title>

	<link type="text/css" rel="stylesheet" href="../stylesheets/stylesheet.css" />

</head>

<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="/home" class="list-group-item list-group-item-action">Dashboard</a>
              <a href="#" class="list-group-item list-group-item-action">Category</a>
              <a href="/post/new" class="list-group-item list-group-item-action active">Add New</a>
              <a href="#" class="list-group-item list-group-item-action">Comments</a>
              <a href="/user/1" class="list-group-item list-group-item-action">My Profile</a>
              <a href="/" class="list-group-item list-group-item-action">Logout</a>
              
              
            </div> 
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-3 border-right">
		                    <h4>Add New Post</h4>
		                </div>
		            </div>
		            <hr>
		            <div class="row">
		                <div class="col-md-8">
        		            <form>
                              <div class="form-group row">
                                <label for="text" class="col-12 col-form-label">Enter Title here</label> 
                                <div class="col-12">
                                  <input id="text" name="text" placeholder="Enter Title here" class="form-control here" required="required" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="textarea" class="col-12 col-form-label">Visual Editor</label> 
                                <div class="col-12">
                                  <textarea id="textarea" name="textarea" cols="40" rows="5" class="form-control"></textarea>
                                </div>
                              </div> 
                            </form>
        		        </div>
        		        
        		    </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
</body>

</html>