<div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">Forgot Password</div>
            <div class="panel-body">
                <form id="forgot-form" action="/forgot" method="post" role="form" style="display: block;">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input type="text" class="form-control" name="email" id="email" placeholder="Email..." title="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input type="submit" name="forgot" id="forgot" tabindex="4" class="form-control btn btn-login" value="Submit">
                            </div>
                        </div>
                    </div>
               </form>
            </div>
        <div>
        <div class="panel-footer">
            <a href="/login">Or Sign In</a>
        </div>
    </div>
</div>
