<!DOCTYPE html>

<!--
	
-->

<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="#" crossorigin="anonymous">
    <script src="../javascripts/profile.js"></script>
	<title>Home</title>

	<link type="text/css" rel="stylesheet" href="../stylesheets/stylesheet.css" />

</head>

<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="/home" class="list-group-item list-group-item-action">Dashboard</a>
              <a href="#" class="list-group-item list-group-item-action">Category</a>
              <a href="/post/new" class="list-group-item list-group-item-action">Add New</a>
              <a href="#" class="list-group-item list-group-item-action">Comments</a>
              <a href="/user/1" class="list-group-item list-group-item-action active">My Profile</a>
              <a href="/" class="list-group-item list-group-item-action">Logout</a>
              
              
            </div> 
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Your Profile</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
		                    <form id="profile-form" action="/profile" method="post" role="form">
                              <div class="form-group row">
                                <label for="firstname" class="col-4 col-form-label">First Name</label> 
                                <div class="col-8">
                                  <input id="firstname" name="firstname" placeholder="First Name" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label">Last Name</label> 
                                <div class="col-8">
                                  <input id="lastname" name="lastname" placeholder="Last Name" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="age" class="col-4 col-form-label">Age</label> 
                                <div class="col-8">
                                  <input id="age" name="age" placeholder="Age" class="form-control here" type="number" pattern="\d*" min="10" max="70" maxlength="2" onKeyDown="if(this.value.length==2 && event.keyCode!=8) return false;">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="age" class="col-4 col-form-label">Gender</label>
                                    <div class="col-8">
                                        <div id="radioBtn" class="btn-group">
                                            <a class="btn btn-primary btn-sm notActive" data-toggle="gender" data-title="M">Male</a>
                                            <a class="btn btn-primary btn-sm notActive" data-toggle="gender" data-title="F">Female</a>
                                        </div>
                                        <input type="hidden" name="gender" id="gender">
                                    </div>
                            </div>
                              <div class="form-group row">
                                <label for="address" class="col-4 col-form-label">Address</label> 
                                <div class="col-8">
                                  <input id="address" name="address" placeholder="Address" class="form-control here" type="text">
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="website" class="col-4 col-form-label">Website</label> 
                                <div class="col-8">
                                  <input id="website" name="website" placeholder="https://example.com" pattern="https://.*" size="20" class="form-control here" type="url">
                                </div>
                              </div> 
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                                </div>
                              </div>
                            </form>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>
	</div>
</div>
</body>

</html>